<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>添加</title>
</head>
<body>
    <form action="/doAdd" method="get">
      <p>书名：<input type="text" name="name"></p>
      <p>作者：<input type="text" name="author"></p>
      <p>价格：<input type="number" name="price"></p>
      <p>分类：
        <input type="checkbox" name="type" id="">
        <input type="checkbox" name="type" id="">
        <input type="checkbox" name="type" id="">
        <input type="checkbox" name="type" id="">
      </p>
      <input type="submit" value="提交">
    </form>
</body>
</html>